<div style="text-align: center;">WELCOME to the Auction page! The auction id is: <strong>{{auctionId}}</strong></div>
<div class="content" role="main">

  <table style="text-align: center;">
    <tr>
      <td class="td-align">
        <p>Auction owner: {{auction.ownerName}}</p>
      </td>
      <td class="td-align">
        <p>Starting Bid: {{auction.startingBid}}</p>
      </td>
    </tr>
    <tr>
      <td class="td-align">
        <p>Description: {{auction.description}}</p>
      </td>
      <td class="td-align">
        <p>Item Id: {{auction.itemId}}</p>
      </td>
    </tr>
    <tr>
      <td class="td-align">
        <p>Type: {{auction.type}}</p>
      </td>
      <td class="td-align">
        <p>Tags: {{auction.tags}}</p>
      </td>
    </tr>
    <tr>
      <td class="td-align">
        <p>Start Date: {{auction.startDate}}</p>
      </td>
      <td class="td-align">
        <p>End Date: {{auction.endDate}}</p>
      </td>
    </tr>
    <tr>
      <td class="td-align">
        <p>Countries: {{auction.targetCountries}}</p>
      </td>
    </tr>
  </table>
</div>
