:host {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.login-box,
.login-form {
  width: 380px;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-box {
  height: auto;
}

.login-form-container {
  margin-bottom: 0;
}

.login-box,
.login-form {
  width: 380px;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.mat-card-title {
  margin-bottom: 30px;
}

.login-form__error {
  text-align: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.login-form__input-field--username,
.login-form__input-field--password {
  width: 300px;
  font-size: 18px;
}

mat-card-header mat-card-title {
  font-size: 24px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

button.mat-raised-button {
  font-size: 16px;
  padding: 5px 30px;
  width: 110px;
}

